<div class="container-fluid bg-1">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Contact Us</h1>
        <h2 class="post-category"><%= @post.category.name %></h2>
        <h5 class="post-subtitle"><%= @post.title %></h5>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12 m-t-20">

      <p>We need text for this page, and I can add whatever content pr images you'd like.  Do you want a contact form that delivers email messages to us, or would you rather just have an email address or phone number?</p>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>