<div class="container">
  <div class="row">
    <div class="col-lg-12 m-t-20">
      <h1>Engine Building</h1>
      <p>Erik Shahoian is building several engines for clients and the availability of these pumps was the nucleus for deciding exactly how these engines would be configured.</p>

      <p>A NOS 1969 911S MFI pump, Porsche part number 0 408 126 005, is probably THE most desirable pump of all for Porsche 911 engines – it&#39;s an S pump and the 2.0 liter regulator section is often used as the basis for an RSR pump conversion. It&#39;s the hottest racing part pressed into street service.</p>

      <p>Arriving in a very well packaged shipment, the mess was extracted from the shipping boxes. A torn majority of what was an original Porsche box surrounded the pump. Hard to notice, a dirty part number tag was just visible on a shard of packaging tape. The Porsche part number read 901.110.227.01 – a quick look up in the PET indicated this to be the original box the S pump was shipped in. The pump was filthy, not with oil or grease, but the preservative it was shipped in four decades ago had accumulated all dust and crumbling cardboard that had ever fallen on it. One side was much dirtier than the other. It looked like a bread crumb encrusted magnesium blob.</p>

      <p>After a little dusting off, with great excitement, and anxiety, the side cover was removed immediately. Sure, all the plugs were intact, hardened cosmoline or some other wax like substance sealed every external crevice, and the drive gear shaft was properly encased in a waxed cardboard tube, but the proof that this was a real NOS pump and had never been run on an engine, was to be found inside the pump.</p>

      <p>Motor oil, even new motor oil, has combustion byproducts in it. Carbon darkens the oil, and once motor oil works into the mechanical miasma, its there forever unless the whole pump is torn down, cleaned, and rebuilt. Additionally, each protective cap was glued onto the threads of each port with wax remaining - the obvious residue of the once liquid preservative, the liquid evaporated and the solid wax remaining.</p>

      <p>Another detail to immediately verify is the surface condition and color of the 3-D space cam. New space cam&#39;s from the original Bosch supply were coated with a dull light grey surface treatment. This was likely some kind of carbo-nitriding like surface treatment to improve wear. A used pump would show typical wear.</p>

      <p>The cover reluctantly popped off its gasket. Flashlight in hand and directed straight into the regulator internals, the light reflected brightly off of the wet glistening parts inside. The internals of this pump were coated with clear preservative oil. The space cam was matt grey and brand new. This was indeed a brand new pump as represented.</p>

      <p>After sitting in a crumbling cardboard box for 42 years, the rack was snappy and the control lever snapped back crisply. This pump was ready for service after dusting off the dirt.</p>

      <p>The 1970 911 E pump received a similar clean up, however it was not dirty, the bag was greasy on the outside, but clean on the inside. The E pump was glistening with original preservative oil, but it was definitely not ready to operate.</p>

      <p>The reality set in as the drive shaft refused to rotate and the input control lever utterly resisted motion. This pump was put on the shelf 40 plus years ago with its internals coated in clear oil and its plungers preserved in whatever appropriate Stoddard fluid was used by Bosch at the time. So it sat, through decades of warm southern California days and mild evenings, and those lubricating molecules, eventually boiled off into the LA smog.</p>

      <p>What was left of that preservative, kept all the parts brand new and untouched by the never resting ionized corrosive world around it. It also cemented all of the parts together!</p>

      <p>MFI pump pistons are actuated by a six lobed cam shaft driven by the toothed belt from the engine&#39;s camshaft. Turning the input shaft with a 19mm wrench, the pump did eventually reluctantly rotate. Then, when all of the piston followers were pushed up and stuck in the plunged position of their stroke, not returning under spring force as they should, the cam rotated freely. Excellent, but utterly useless as a pump.</p>

      <p>Bring in the toxic chemicals. One could soak the whole pump in gasoline, solvent etc. but that would remove the special factory yellow paint on the screws. It would also remove the still good preservative oil in the mechanism. The problem with the pump was isolated to the injection plungers, and that was where we directed the solvents.</p>

      <p>Both side covers were removed to allow inspection of the rack and plunger assemblies. All were frozen solid. The rack would not move at all. All six red plastic caps were removed and the caked amber wax under them revealed just how mucked up the works were.</p>

      <p>Berryman B-12 carb cleaner was sprayed into each injector connection and allowed to soak. This was repeated every few hours for a day. The next morning, one of the pistons had returned down to it&#39;s ready position. Making progress! We had a single cylinder of six now responding to the camshaft rotation.</p>

      <p>After another day of repeated B-12 treatments, all six plungers cycled smoothly and the rack would snap back properly when pushed with a wooden dowel after removing the special black plastic access cover at the front of the pump. The control lever started to come to life also as the rack was freed.</p>

      <p>Rigging up an electric drill with a 19mm socket, the pump was run at approximately 500 RPM and fresh solvent introduced into the pistons. This brought the pump to silky operation with the turn of the shaft y hand as each piston could be seen operating with the covers off.</p>

      <p>The accumulated dust from 40 years of shelf time was removed carefully with Zeppreserve, a magnesium anti-corrosion tonic, and the pump covers re-assembled. This pump is ready for the engine it will support.</p>

<br>2.8 RSR Engine Build and Dyno

<br>2.5 ST Engine Build and Dyno

<br>1974 RSR 3.0 track car build

<br>908/03 Axels

<br>908/02 Spyder frame build
      <br>
      <br>

    </div>
  </div>
</div>