<div class="container-fluid">
  <div class="row">
    <div class="">
      <%= image_tag 'custom-porsche.jpg', class: "img-responsive" %>
    </div>
  </div>
</div>

<div class="container-fluid m-t-20 p-x-45">
  <div class="row">
    <div class="col-md-8">

      <h1>New Historics</h1>
      <h2>Vintage Race Car Preservation, Restoration & Engineering</h2>
      <p>We hope you share our enthusiasm and passion for vintage race car preservation, restoration, and engineering history with particular focus on Porsche prototype cars from the late sixties: types 907, 910, 908, and 917.</p>
      <p>NewHistorics.com also serves as a technical reference for countless Porsche factory race car parts and catalogue of painstakingly crafted directly interchangeable components that have supported and restored many factory original historic cars around the world for over 15 years.</p>
      <p>NewHistorics.com showcases a body of work by a collection of specialized engineers, fabricators, and restoration experts.</p>
      <br />
      <br />
      <br />


    </div>
    <div class="col-md-4">
      <h3>Connect</h3>
      <p>Accusamus tote bag etsy whatever selvage. Keytar craft beer 3 wolf moon, drinking vinegar raw denim leggings post-ironic scenester. Put a bird on it pug jean shorts, tote bag ramps whatever organic pariatur est slow-carb non tacos mumblecore blue bottle.</p>
      <p></p>
      <h3>Placeholder</h3>
      <p> Ullamco fashion axe excepteur next level, aesthetic ramps venmo selfies. Veniam bicycle rights VHS thundercats, reprehenderit laboris eu tempor man braid. Assumenda lomo sunt austin wayfarers. Austin reprehenderit sed assumenda.</p>
      <p></p>
    </div>
  </div>
</div>
<div class="container-fluid m-t-20" style="background-color:#333;">

  <div class="row" >
    <div class="col-xs-12 col-sm-6 col-md-7 col-lg-8" style="background-color:#333;">
      <div class="builds">
        <h2 class="builds-title">Custom Builds</h2>
        <hr />
        <p class="builds-text">Ullamco fashion axe excepteur next level, aesthetic ramps venmo selfies. Veniam bicycle rights VHS thundercats, reprehenderit laboris eu tempor man braid. Assumenda lomo sunt austin wayfarers. Austin reprehenderit sed assumenda.</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4 no-gutters">
      <%= image_tag "custom1.jpg", class: "img-responsive" %>
    </div>
  <!--   <div class="col-md-3 no-gutters">
      <img src="http://placehold.it/500x477" class="img-responsive" />
    </div> -->
  </div>
</div>

<div class="container-fluid" style="background-color:#F00;">
  <div class="row" >
    <div class="col-md-5 col-lg-4 no-gutters">
      <%= image_tag "custom1.jpg", class: "img-responsive" %>
    </div>

    <div class="col-md-7 col-lg-8" style="background-color:#F00;">
      <div class="builds">
        <h2 class="builds-title">Engine Builds</h2>
        <hr />
        <p class="builds-text">Ullamco fashion axe excepteur next level, aesthetic ramps venmo selfies. Veniam bicycle rights VHS thundercats, reprehenderit laboris eu tempor man braid. Assumenda lomo sunt austin wayfarers. Austin reprehenderit sed assumenda.</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" style="background-color:#666;">
  <div class="row" >
    <div class="col-md-7 col-lg-8" style="background-color:#666;">
      <div class="builds">
        <h2 class="builds-title">Barn Finds</h2>
        <hr />
        <p class="builds-text">Ullamco fashion axe excepteur next level, aesthetic ramps venmo selfies. Veniam bicycle rights VHS thundercats, reprehenderit laboris eu tempor man braid. Assumenda lomo sunt austin wayfarers. Austin reprehenderit sed assumenda.</p>
      </div>
    </div>
    <div class="col-md-5  col-lg-4 no-gutters">
      <%= image_tag "custom1.jpg", class: "img-responsive" %>
    </div>
  </div>
</div>


<div class="container-fluid m-t-20 p-x-45">
  <div class="row">
    <div class="col-md-8">

      <h2>Vintage Race Car Preservation, Restoration & Engineering</h2>
      <p>We hope you share our enthusiasm and passion for vintage race car preservation, restoration, and engineering history with particular focus on Porsche prototype cars from the late sixties: types 907, 910, 908, and 917.</p>
      <p>NewHistorics.com also serves as a technical reference for countless Porsche factory race car parts and catalogue of painstakingly crafted directly interchangeable components that have supported and restored many factory original historic cars around the world for over 15 years.</p>
      <p>NewHistorics.com showcases a body of work by a collection of specialized engineers, fabricators, and restoration experts.</p>
      <br />
      <br />
      <br />


    </div>
    <div class="col-md-4">
      <h3>Connect</h3>
      <p>Accusamus tote bag etsy whatever selvage. Keytar craft beer 3 wolf moon, drinking vinegar raw denim leggings post-ironic scenester. Put a bird on it pug jean shorts, tote bag ramps whatever organic pariatur est slow-carb non tacos mumblecore blue bottle.</p>
      <p></p>
      <h3>Placeholder</h3>
      <p> Ullamco fashion axe excepteur next level, aesthetic ramps venmo selfies. Veniam bicycle rights VHS thundercats, reprehenderit laboris eu tempor man braid. Assumenda lomo sunt austin wayfarers. Austin reprehenderit sed assumenda.</p>
      <p></p>
    </div>
  </div>
</div>