<div class="container-fluid bg-1">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="post-category">Contact Us</h2>
        <h5 class="post-subtitle">Subtitle line of text goes here</h5>
      </div>
    </div>
  </div>
</div>

<div class="container m-t-20 m-b-20">
  <div class="row">
    <div class="col-md-8 col-lg-6">

      <p>Send us a message to inquire about pricing for parts, or if you have a project you'd like to discuss.</p>
      <p>I assume you have more text that you'd also like to show which could go here.</p>
      <%= render 'form' %>
      <br><br>
      <%= link_to 'Cancel / Back', messages_path, class: "btn btn-default" %>

    </div>
  </div>
</div>