<div class="container-fluid bg-1 mt-4">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="post-category"><%= @contact_page_title %></h2>
        <h5 class="post-subtitle">Drop us a note and we'll be in touch soon!</h5>
      </div>
    </div>
  </div>
</div>

<div class="container 20">
  <div class="row">
    <div class="col-lg-8">

      <div class="mt-4 mb-5">
        <%= @contact_page_text.html_safe %>
      </div>

      <%= render 'form' %>
      <br><br><br>
    </div>
  </div>
</div>