<div class="container-fluid bg-1 mt-4">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="post-category">Create a New Video</h2>
      </div>
    </div>
  </div>
</div>

<div class="container m-t-20">
  <div class="row">
    <div class="col-lg-8">

      <%= render 'form' %>

    </div>
  </div>
</div>