// Place all the styles related to the BarnFinds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.carousel-control {
  padding-top:10%;
  width:5%;
}

html.barn_finds, html.builds {

  a {
    color: #333;
    &:hover{
      color: #000;
    }
  }

  a.btn.btn-primary {
    color:white;
  }


}