// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// html.posts a {
//   color: black;
// }
// html.posts a.btn {
//   color: white;
// }


html.posts, html.parts, html.messages, html.categories {

  .post-main-image {
    padding-bottom: 20px;
  }
  .post-details {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    padding-bottom: 20px;
  }
  .post-title {
    margin-bottom:20px;
  }
  .project-title {
    font-size: 24px;
  }
  a.project-title {
    color: #666;
    font-weight: normal;
    margin-bottom: 5px;
  }
  .post-header {
    background: #666;
    color: white;
  }
  .post-content {
    margin-bottom: 30px;
  }


  .navbar-custom a {
    color: #000;
  }

  .navbar-custom .nav li a {
      -webkit-transition: background .3s ease-in-out;
      -moz-transition: background .3s ease-in-out;
      transition: background .3s ease-in-out;
      color: #000;
  }

  .navbar-custom .nav li a:hover {
    outline: 0;
    color: #fff;
    background-color: #666;
  }

  .navbar-custom .nav li a:focus,
  .navbar-custom .nav li a:active {
      outline: 0;
      color: #fff;
  }

  .navbar-custom .nav li.active {
    outline: 0;
  }

  .navbar-custom .nav li.active a {
      background-color: #666;
      color: #fff;
  }

  .navbar-custom .nav li.active a:hover {
      color: #fff;
  }

}


@media(max-width:767px) {
  html.posts, html.parts, html.messages, html.categories {
    padding-top: 70px;
    .post-title {
      font-size: 20px;
    }
  }
}
@media(min-width:768px) {
  html.posts, html.parts, html.messages, html.categories {
    padding-top: 125px;
  }
}