<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>Editing Category</h1>

<%= render 'form' %>

<%= link_to 'Show', @category %> |
<%= link_to 'Back', categories_path %>
<%= link_to 'Destroy', @category, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>

</div>
</div>
</div>