<div class="container">
  <div class="row">
    <div class="col-lg-12">

      <h1>Editing Barn Find</h1>

      <%= render 'form' %>

      <%= link_to 'Show', @barn_find %> |
      <%= link_to 'Back', barn_finds_path %>

    </div>
  </div>
</div>