<footer id="footer-top">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="footer-col">
          <h3 class="widget-title">About New Historics</h3>
          <p>We hope you share our enthusiasm and passion for vintage race car preservation, restoration, and engineering history with particular focus on Porsche prototype cars from the late sixties: types 907, 910, 908, and 917.</p>
          <a href="#" class="btn btn-lg btn-white-border">View Gallery</a>
        </div><!--footer col-->
        <div class="space-40"></div>
      </div><!--footer col-->
      <div class="col-md-4">
        <div class="footer-col">
              <h3 class="widget-title">Like What You See?</h3>
              <p>We are available for hire, to inquire about your project, <a href="/contact">contact us.</a><br>
        </div><!--footer col-->
      </div><!--footer col-->
      <div class="col-md-4">
          <div class="footer-col">
              <h3 class="widget-title">Connect</h3>
              <p>We're on Instagram and Facebook<br>
          </div><!--footer col-->
      </div><!--footer col-->
    </div>
  </div>
</footer>




<footer id="footer-bottom">
    <div class="footer-nav">
        <div class="container">
            <ul class="list-inline f-menu-items">
                <li><a href="#">Terms of use</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Site Map</a></li>
                <li><a href="#">Sign In</a></li>
            </ul>
            <div class="footer-privacy-text">
                Copyright © 2016 <a href="#">New Historics</a>
            </div>
        </div>
    </div>
</footer>