<footer id="footer-top">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="footer-col">
          <%= @footer.first_column.html_safe if @footer %>
        </div><!--footer col-->
      </div><!--footer col-->
      <div class="col-md-4">
        <div class="footer-col">
          <%= @footer.second_column.html_safe if @footer %>
        </div>
      </div><!--footer col-->
      <div class="col-md-4">
        <div class="footer-col">
          <%= @footer.third_column.html_safe if @footer %>
        </div><!--footer col-->
      </div><!--footer col-->
    </div>
  </div>
</footer>

<footer id="footer-bottom">
    <div class="footer-nav">
        <div class="container">
            <ul class="list-inline f-menu-items">
              <%= @footer.links.html_safe if @footer %>
            </ul>
            <div class="footer-privacy-text">
              <%= @footer.copyright.html_safe if @footer %>
            </div>
        </div>
    </div>
</footer>