<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand page-scroll" id="logo" href="/">
        <%= image_tag 'nh_logo_400.png', class: "img-responsive" %>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <% if current_admin_user %>
          <li><a href="/manage">Admin</a></li>
        <% end %>
        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
       <% @menu_items.each do |menu_item| %>
          <%= menu_item.html.html_safe %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
